* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#f6f8f9 ;
}

header {
  height: 100px;
  background-color: white;
  padding: 5px;
}

header span {
  font-size: 50px;
  font-weight: bold;

}

header img {
  vertical-align: middle;
}

li {
  margin-top: 10px;
}


.button {
  display: inline-block;
  background-color:#47adf1;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 1.8rem;
}

.button:first-child {
  color: white;
  margin-right: 5px;
  margin-left: 15px;
}

.button:last-child {
  color: #c5cbd0;
  background-color: white;
  border: 1px solid #c5cbd0;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.task-input {
  background-color: white;
  margin-top: 50px;
  padding: 15px 0 10px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid #f6f8f9;
}

.task-list {
  background-color: white;
  padding: 25px 30px;
  height: 100vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.task-list ul {
  padding-left: 15px;
}

.list-header {
  list-style: none;
  font-size: 2.8rem;
  margin-bottom: 20px;

}

.list-header::before{
  content: '\25BC';
  font-size: 1rem;
  margin-right: 5px;
}



.list-header ul li {
  font-size: 1.8rem;
}

li::marker{
  content: '';
  display: none;
}

.tick::after {
  content: '\2713';
  color: green;
  border: 1px solid green;
  border-radius: 50%;
  display: inline-block;
  width: 13px;
  padding-left: 4px;
  margin-right: 10px;
  font-size: .75rem;
}

.cross::after{
  content: '\2717';
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  display: inline-block;
  width: 13px;
  padding-left: 4px;
  margin-right: 10px;
  font-size: .75rem;
}

.list-header ul {
  padding: 0;
}

main {
  margin-bottom: 50px;
}

.tag {
  font-size: 1.3rem;
  padding: 2px 10px;
  border-radius: 15px;
  color: white;
  margin-left: 18px;
}

.tag.tag-editorial {
  background-color: #47adf1;
}

.tag.tag-goals{
  background-color:#9c72e4 ;
}

.tag.tag-recruiting {
  background-color: #64c0a9;
}

.tag.tag-mobile {
  background-color:#f29e33 ;
}
.tag.tag-website {
  background-color:#d863a1 ;
}
.tag.tag-sales {
  background-color:#b0c926 ;
}

